@charset "UTF-8";
/* CSS Document */
@import "normalize";
$width: 300;
$height: 600;
$bannerWidth: $width + px;
$bannerHeight: $height + px;
@font-face {
    font-family: 'Ciutadella-Medium';
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.eot');
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.eot?#iefix') format('embedded-opentype'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.woff2') format('woff2'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.woff') format('woff'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_0_0.ttf') format('truetype');
}
@font-face {
    font-family: 'Ciutadella-Regular';
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.eot');
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.eot?#iefix') format('embedded-opentype'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.woff2') format('woff2'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.woff') format('woff'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_1_0.ttf') format('truetype');
}
@font-face {
    font-family: 'CiutadellaRounded-Rg';
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.eot');
    src: url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.eot?#iefix') format('embedded-opentype'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.woff2') format('woff2'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.woff') format('woff'), url('https://s3-ap-southeast-2.amazonaws.com/qantasfiles/ciutadella/31E6EC_2_0.ttf') format('truetype');
}

body {
    font-family: 'Ciutadella-regular', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    position: relative;
    overflow: hidden;
}

.copy {
    font-family: 'Ciutadella-regular', sans-serif;
    color: #fff;
}

.font-regular {
    font-family: 'Ciutadella-regular', sans-serif;
    text-rendering: optimizeLegibility;
}

.font-medium {
    font-family: 'Ciutadella-Medium', sans-serif;
    text-rendering: optimizeLegibility;
}

.font-rounded {
    font-family: 'CiutadellaRounded-Rg', sans-serif;
    text-rendering: optimizeLegibility;
}

.copy {
    font-family: 'Ciutadella-regular', sans-serif;
    color: #fff;
}

p {
    display: block;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0;
}

button {
    -webkit-appearance: none;
    cursor: pointer;
    border: 2px solid white;
    background: transparent;
    color: white;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    padding: 7px 18px 4px;
    font-size: 17px;
    line-height: 21px;
    outline: none;
}

button.hover,
button:hover {
    background: white;
    color: #ee0000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 31px;
    line-height: 32px;
}

h2 {
    font-size: 19px;
}

h3 {
    font-size: 13px;
}

h4 {
    font-size: 25px;
}

.container {
    display: none;
    width: ($width)+px;
    height: ($height)+px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.loader {
    margin-left: auto;
    margin-right: auto;
    width: 298px;
    height: 598px;
    top: 0;
    left: 0;
    border: 1px solid #e2e2e2;
    position: relative;
}

.loader img {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 275px;
    left: 125px;
}

.banner {
    position: absolute;
    width: ($width - 2)+px;
    height: ($height - 2)+px;
    top: 0;
    left: 0;
    margin: 0 auto;
    background-color: #F5F5F5;
    clip: rect(0px, 300px, $bannerHeight, 0px);
    overflow: hidden;
    border: 1px solid #e2e2e2;
}

.frame-content p {
    font-size: 37px;
    line-height: 37px;
    text-align: center;
    color: white;
    text-rendering: optimizeLegibility;
    margin-top: 0;
}

#messaging-frame-01 {
    position: absolute;
    z-index: 200;
    width: 260px;
    top: 150px;
    left: 20px;
    p {
        font-size:30px;
        line-height:30px;
        z-index:150;
        -webkit-font-smoothing: antialiased;
    }
}

#frame01-line-01 {
    position: absolute;
    font-size:23px;
    left:61px;
    top:-3px;
    #frame-01-word-01 {
      position: absolute;
      font-size:22px;
      left:-28px;
      top:5px;
    }
    #frame-01-word-02 {
      position: absolute;
      font-size:22px;
      left:52px;
      top:5px;
    }
    #frame-01-word-03 {
      position: absolute;
      font-size:22px;
      left:85px;
      top:5px;
    }
}
#frame01-line-02 {
    position: absolute;
    font-size:35px;
    left:34px;
    top:-6px;
    #frame-01-word-04 {
      position: absolute;
      font-size:40px;
      left:-25px;
      top:40px;
    }
    #frame-01-word-05 {
      position: absolute;
      font-size:40px;
      left:97px;
      top:40px;
    }
}
#frame01-line-03 {
    position: absolute;
    font-size:30px;
    left:83px;
    top:-5px;
    #frame-01-word-06 {
      position: absolute;
      font-size:33px;
      left:2px;
      top:70px;
    }
    #frame-01-word-07 {
      position: absolute;
      font-size:33px;
      left:82px;
      top:70px;
    }
}

#messaging-frame-02 {
  position: absolute;
  z-index: 200;
  width: 280px;
  top: 150px;
  left: 18px;
  p {
      z-index:150;
      -webkit-font-smoothing: antialiased;
  }
}

#frame02-line-01 {
    position: absolute;
    // font-size:23px;
    left:71px;
    top:-3px;
    #frame-02-word-01 {
      position: absolute;
      font-size:24px;
      left:-24px;
      top:9px;
    }
    #frame-02-word-02 {
      position: absolute;
      font-size:24px;
      left:6px;
      top:9px;
    }
    #frame-02-word-03 {
      position: absolute;
      font-size:45px;
      left:31px;
      top:5px;
    }
    #frame-02-word-04 {
      position: absolute;
      font-size:35px;
      left:112px;
      top:7px;
    }
}
#frame02-line-02 {
    position: absolute;
    font-size:35px;
    left:31px;
    top:-4px;
    #frame-02-word-05 {
      position: absolute;
      font-size:33px;
      left:-11px;
      top:40px;
    }
    #frame-02-word-06 {
      position: absolute;
      font-size:33px;
      left:142px;
      top:40px;
    }
}
#frame02-line-03 {
    position: absolute;
    // font-size:30px;
    left:83px;
    top:-4px;
    #frame-02-word-07 {
      position: absolute;
      font-size:20px;
      left:18px;
      top:70px;
    }
    #frame-02-word-08 {
      position: absolute;
      font-size:20px;
      left:71px;
      top:70px;
    }
    #asterisk {
        font-family: 'Ciutadella-Regular';
        font-size: 13px;
        bottom:5px;
        position: relative;
    }
}

#messaging-endframe {
    position: absolute;
    line-height:31px;
    z-index: 200;
    width: 260px;
    top: 130px;
    left: 20px;
    color: white;
    -webkit-font-smoothing: antialiased;
    #points-container {
        position:relative;
        left:-52px;
        top:10px;
    }
    #points-copy {
        -webkit-font-smoothing: initial;
    }
    #thousands-countdown,
    .hundreds-countdown {
        display: inline;
    }
    #thousands-countdown {
        position: absolute;
        text-align: right;
        font-size:50px;
        left:56px;
    }
    #comma-countdown {
        position: relative;
        display: inline;
        font-size:50px;
        left: 107px;
    }
    #hundreds-countdown {
        position: absolute;
        text-align: left;
        font-size:50px;
        top:0px;
        left: 115px;
    }
    #bonus {
        position: absolute;
        left: 201px;
        top: 4px;
        font-size:32px;
    }
    #asterisk {
        font-family: 'Ciutadella-Regular';
        display: inline-block;
        font-size: 18px;
        position: relative;
        top:-9px;
        left:1px;
    }
    #qantas-points {
        position:absolute;
        left:60px;
        top:50px;
        font-size:33px;
    }
}

// LOGOS
#logos-container {
    position: absolute;
    z-index: 200;
    left: 6px;
    bottom: 85px;
}

.logo-qantas {
    position: absolute;
    width: 208px;
    height: 36px;
    left: 25px;
    top: -25px;
}

.logo-qantas-money {
    position: absolute;
    width: 150px;
    height: 40px;
    left: 0px;
    top: 0px;
}

.logo-divider-line {
    position: absolute;
    width: 1px;
    height: 27px;
    left: 158px;
    top: 0px;
    background-color: #000000;
}

.logo-partner {
    position: absolute;
    width: 160px;
    height: 40px;
    left: 125px;
    top: -7px;
}

// CARD FLIP
.cardWrapper{
  width:180px;
  height:113px;
  top:430px;
  left:59px;
  position:relative;
  float:left;
  cursor:pointer;
  -webkit-font-smoothing:antialiased;
  z-index: 200;
  transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

.cardFace{
  position:absolute;
  overflow:hidden;
  img {
    width:180px;
    height:113px;
  }
}

#cta-button {
    position: absolute;
    display: block;
    left: 72px;
    top:110px;
}

.terms-frame-01,
.terms-frame-02,
.terms-frame-03 {
    display: block;
    position: absolute;
    z-index: 8001;
    width: 280px;
    text-align: center;
    left: 9px;
    bottom: 10px;
    color:#ffffff;
    font-size: 8px;
    line-height: 9px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.terms-endframe {
    display: block;
    position: absolute;
    z-index: 8001;
    width: 280px;
    text-align: center;
    color:#a0a0a0;
    left: 9px;
    bottom: 10px;
    font-size: 8px;
    line-height: 9px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

// Intro Shapes
.shapes {
    position: absolute;
    top: 150px;
    left: 0;
    width: 300px;
    height: 250px;
    z-index: 6500;
    pointer-events: none;
}

#mask-shape {
    position: absolute;
    width: 6866px;
    height: 4833px;
    top: -1000px;
    left: -1000px;
    z-index: 6500;
}

#blue-shape {
    position: absolute;
    width: 113px;
    height: 111px;
    top: 0;
    left: 0;
    z-index: 6900;
}

#blue-shape-small {
    position: absolute;
    width: 64px;
    height: 68px;
    top: 0;
    left: 0;
    z-index: 6900;
}

// Base Shapes
#base-red {
    position: absolute;
    z-index: 105;
    left: 0;
    top: 0;
    width: 300px;
    height: 600px;
}

#partnership-white-shape-small {
    position: absolute;
    z-index: 112;
    left: -310px;
    top: 392px;
    width: 838px;
    height: 462px;
}

#partnership-white-shape {
    position: absolute;
    z-index: 112;
    left: -115px;
    top: 315px;
    width: 530px;
    height: 400px;
}

#red-gradient {
    position: absolute;
    z-index: 110;
    left: 0;
    top: 0;
    width: 838px;
    height: 462px;
}

#solid-red-base {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 600px;
    background-color: #d00914;
    z-index: 0;
}

// Base Images
.bg-image {
    position: absolute;
    width: 300px;
    height: 600px;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 100;
}

.bg-image-01 {
    position: absolute;
    z-index: 130;
}

.bg-image-02 {
    position: absolute;
    z-index: 131;
}

.clicktag {
    cursor: pointer;
}

.overlay {
    position: absolute;
    width: 260px;
    height: 570px;
    top: 10px;
    left: 10px;
    background-color: white;
    z-index: 9999;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: none;
}

.overlay h6 {
    font-size: 16px;
    color: #E0001A;
}

.overlay-close {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 30px;
    height: 33px;
}

.overlay-close img {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 12px;
    left: 10px;
}

.overlay-close:hover img {
    width: 10px;
    height: 10px;
    opacity: 0.7;
}

.overlay-body {
    font-size: 10px;
    padding-top: 8px;
    font-family: 'Ciutadella-Regular';
    line-height: 14px;
    max-height: 534px;
    overflow-y: scroll;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    button {
        padding: 7px 18px 7px;
    }
}
